<div>
    <div id="burguer-elements" class="hide">
        <a href="/personalInfo" class="big-text margin-bottom-3 kalam">
            Info
        </a>
        <a href="/articles" class="big-text margin-bottom-3 kalam">
            Artículos
        </a>
        <a href="/tutorials" class="big-text margin-bottom-3 kalam">
            Vídeos
        </a>
        <a href="/projects" class="big-text margin-bottom-3 kalam">
            Proyectos
        </a>
        <a href="/logout" class="big-text kalam">
            Log out
        </a>
    </div>
    <nav>
        <div id="burguer">
            <img src="/images/hamburguer.png" alt="burguer" width="30" height="30" onclick="pushBurguer()">
        </div>
        <div id="nav-elements">
            <a href="/personalInfo" class="big-text margin-right-3 kalam">
                Info
            </a>
            <a href="/articles" class="big-text margin-right-3 kalam">
                Artículos
            </a>
            <a href="/tutorials" class="big-text margin-right-3 kalam">
                Vídeos
            </a>
            <a href="/projects" class="big-text margin-right-3 kalam">
                Proyectos
            </a>
            <a href="/logout" class="big-text kalam">
                Log out
            </a>
        </div>
    </nav>
    <div class="info-container">
        <table class="table-personal">
            <tr class="tr-personal">
                <td class="td-personal td-left">
                    <a href="/presentation" class="big-text kalam">
                        Inicio
                    </a>
                </td>
                <td class="td-personal td-right">
                    <a href="/email" class="big-text kalam">
                        email
                    </a>
                </td>
                <td class="td-personal td-right">
                    <a href="/title" class="big-text kalam">
                        Título
                    </a>
                </td>
                <td class="td-personal td-right">
                    <a href="/footer" class="big-text kalam">
                        Pie
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>