<div>
    <div id="burguer-elements" class="hide">
        <a href="/personalInfo" class="big-text margin-bottom-3 kalam">
            Info
        </a>
        <a href="/articles" class="big-text margin-bottom-3 kalam">
            Artículos
        </a>
        <a href="/tutorials" class="big-text margin-bottom-3 kalam">
            Vídeos
        </a>
        <a href="/projects" class="big-text margin-bottom-3 kalam">
            Proyectos
        </a>
        <a href="/logout" class="big-text kalam">
            Log out
        </a>
    </div>
    <nav>
        <div id="burguer">
            <img src="/images/hamburguer.png" alt="burguer" width="30" height="30" onclick="pushBurguer()">
        </div>
        <div id="nav-elements">
            <a href="/personalInfo" class="big-text margin-right-3 kalam">
                Info
            </a>
            <a href="/articles" class="big-text margin-right-3 kalam">
                Artículos
            </a>
            <a href="/tutorials" class="big-text margin-right-3 kalam">
                Vídeos
            </a>
            <a href="/projects" class="big-text margin-right-3 kalam">
                Proyectos
            </a>
            <a href="/logout" class="big-text kalam">
                Log out
            </a>
        </div>
    </nav>
    <div class="info-container">
        <table>
            <tr class="tr-link">
                <td class="td-link-half border-right normal-td">
                    <a class="big-text kalam" href="/personalInfo">Volver</a>
                </td>
                <td class="td-link-half normal-td">
                    <a class="big-text kalam" href="/updateTitle/{{title._id}}">Actualizar</a>
                </td>
            </tr>
        </table>
        {{#if title}}
        <table class="presentation-table">
            <caption>
                <p class="big-text kalam">Título</p>
            </caption>
            <tr class="tr-text">
                <td>
                    <p class="big-text kalam">{{title.text}}</p>
                </td>
            </tr>
        </table>
        {{/if}}
    </div>
</div>